/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus {
    outline:0;
    outline:none;
}
body{
    font-family: 13px/18px 'IBM Plex Sans Condensed', sans-serif;
    background-color: #e7ebf0;
    font-size: 10px;
}
.app-container{
    width: 54%;
    margin: 0 auto;
    max-width: 1010px;
    min-width: 300px;
}
.clearfix{
    clear: both;
    content: '';
    display: table;
}

/* TOPBAR */
#topbar{
    display: flex;
    height: 48px;
    background-color: #5682a3;
}

/* MAIN */
main{
    display: flex;
    height: calc(100vh - 48px - 23px);
    background: #fff;
    box-shadow: 0px 1px 0 #dfe5ec;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    overflow: hidden;
}

/* SIDEBAR */
/* SIDEBAR SEARCH */
#sidebar{
    width: 31%;
    height: 100%;
    border-right: 2px solid #dfe5ec;
}
.search-container{
    padding: 12px;
    position: relative;
}
#sidebar-search input{
    position: relative;
    height: 34px;
    width: 100%;
    color: #000;
    font-size: 13px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 6px 26px 6px 30px;
    margin: 0;
    background-color: #F2F2F2;
}
#sidebar-search input:focus{
    background-color: #fff;
    border: 1px solid #d9dbde;
    outline: 0;
}
#sidebar-search input::placeholder{
    color: #999;
}
#sidebar-search i{
    position: absolute;
    color: #999;
    opacity: .7;
    z-index: 99;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 25px;
    font-size: 13px;
}

/* SIDEBAR CHATS */
.chats-container{
    display: flex;
    flex-direction: column;
}
#sidebar-chats ul{
    list-style: none;
}
#sidebar-chats li{
    padding: 7px 16px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.img-container{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    flex-shrink: 0;
}
#sidebar-chats img{
    width: 100%;
}
#sidebar-chats .text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
    flex-grow: 2;
    overflow: hidden;
}
#sidebar-chats .text-container p,
#sidebar-chats .text-container h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sidebar-chats .time-container{
    padding-top: 5px;
    margin-left: 5px;
}

/* MESSAGES */
#messages{
    width: 69%;
}
#messages .date{
    text-align: center;
    color: #999;
    font-size: 13px;
    margin: 10px auto;
}
#messages .messages-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 125px);
    overflow: auto;
}
#messages .msg{
    font-size: 13px;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: 0px 1px 0 #dfe5ec;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    max-width: 80%;
    margin: 10px 60px;
}
.sent{
    align-self: flex-end;
    background-color: #5682a3;
    color: #fff;
}
.received{
    align-self: flex-start;
}
#messages .typing-container{
    height: 125px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}
.typing-container textarea{
    height: 100%;
    font-size: 13px;
    width: 60%;
    margin-right: 35px;
    border: none;
    border-bottom: 2px solid lightskyblue;
    resize: none;
    
}
.typing-container textarea:focus::placeholder{
    opacity: 0;
}
.typing-container i{
    font-size: 20px;
    cursor: pointer;
    color: #5682a3;
}

