<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- VUE-JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- MY FILES -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>


    <title>BoolzApp</title>
</head>

<!-- Scusatemi senza pensarci ho ricreato il layout di telegram invece che quello di whatsapp. -->

<body>

    <!-- app container -->
    <div id="app" class="app-container">

        <!-- top navigator -->
        <section id="top-nav">
            <div class="top-nav-left">
                <i class="fas fa-bars"></i>
                <h1>Telegram</h1>
            </div>
            <div class="top-nav-right">
                <div class="topnav-right-contact">
                </div>
            </div>
        </section>

        <!-- main -->
        <main>
            <!-- side navigator with contacts links -->
            <section id="side-nav">
                <!-- search input -->
                <div id="side-nav-search">
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca" v-model="textToSearch" v-on:keydown="resetIndex"
                            v-on:keyup="getNewIndex">
                    </div>
                </div>

                <!-- contacts links -->
                <div id="side-nav-contacts">
                    <div class="contacts-container">
                        <ul>
                            <li v-for="(contactObj, contactIndex) in filteredContacts()"
                                @click="getThisContact(contactObj.name, contactIndex)"
                                :class="contactObj.name == selectedContactName ? 'selected' : '' ">
                                <div class="img-container">
                                    <img :src="contactObj.avatar" alt="">
                                </div>
                                <div class="text-container">
                                    <h3>{{ contactObj.name }}</h3>
                                    <p>
                                        <span
                                            v-if="contactObj.date[contactObj.date.length - 1][contactObj.date[contactObj.date.length - 1].length - 1].status == 'sent'">
                                            Tu:
                                        </span>
                                        {{ contactObj.date[contactObj.date.length -
                                        1][contactObj.date[contactObj.date.length - 1].length - 1].text }}
                                    </p>
                                    <p></p>
                                </div>
                                <div class="time-container"
                                    v-if="contactObj.date[contactObj.date.length - 1][contactObj.date[contactObj.date.length - 1].length - 1].day == getDay()">
                                    {{ contactObj.date[contactObj.date.length -
                                    1][contactObj.date[contactObj.date.length - 1].length - 1].time }}
                                </div>
                                <div class="time-container" v-else>
                                    {{ contactObj.date[contactObj.date.length -
                                    1][contactObj.date[contactObj.date.length - 1].length - 1].day }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <!-- display contact's messages -->
            <section id="chat">
                <div class="messages-container" id="autoscroll" v-if="selectedContactIndex >= 0">
                    <div class="date-message-container"
                        v-for="(date, dateIndex) in filteredContacts()[selectedContactIndex].date">
                        <p>
                            {{ date[0].day }}
                        </p>
                        <div class="message" v-for="(message, messageIndex) in date" :class="message.status">
                            <div class="message-text">
                                {{ message.text }}
                            </div>
                            <div class="message-utilty">
                                <i class="fas fa-chevron-down" @click="toggleDropdown(message)">
                                    <div id="dropdown" class="dropdown-container"
                                        :class=" clickedMessage == message ? 'active' : ''">
                                        <div>Message Info</div>
                                        <div @click="deleteMessage(messageIndex, dateIndex)">Delete Message</div>
                                    </div>
                                </i>
                                <div class="message-time">
                                    {{ message.time }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- send new message textarea -->
                <div class="typing-container" v-if="selectedContactIndex >= 0">
                    <textarea name="message" cols="30" rows="3" placeholder="Invia un messaggio" v-model="messageToSend"
                        v-on:keyup.enter="sendMessage"></textarea>
                    <i class="fas fa-paper-plane" @click="sendMessage"></i>
                </div>

                <!-- show when no contact's chats are selected -->
                <div class='no-chat' v-else>
                    Seleziona una chat per iniziare a messaggiare
                </div>

            </section>
        </main>
    </div>

</body>

</html>