<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- VUE-JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- MY FILES -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>


    <title>BoolzApp</title>
</head>

<!-- Chiedo scusa ho ricreato il layout di telegram invece che quello di whatsapp. Ho scritto a Giovanni per comunicare la cosa e mi ha consigliato di scrivere queste due righe di commento per evitare sorprese a chi dovrà correggere l'esercizio.
WhatsApp non lo uso molto e ho scelto di rifarmi a telegram semplicemente perchè è la web app che abitualmente uso da desktop e mi veniva molto più comodo andarmi a copiare il layout. -->

<body>
    
    <div id="app" class="app-container">
        <section id="topbar">
            <div class="topbar-left">
                <i class="fas fa-bars"></i>
                <h1>Telegram</h1>
            </div>
            <div class="topbar-right">
                <div class="topbar-right-left">
                    <div v-if='selIndex != null'>{{selName}}</div>
                    <div v-else></div>
                </div>
            </div>
        </section>

        <main>
            <section id="sidebar">
                <div id="sidebar-search">
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca" v-model='search'>
                    </div>                    
                </div>

                <div id="sidebar-chats">
                    <div class="chats-container">
                        <ul>
                            <li @click='getMessages(contact.name, contactIndex)'
                                v-for='(contact ,contactIndex) in filteredContacts'
                                :class='contact.name == selName ? "focused" : "" '>
                                <div class="img-container">
                                    <img :src="contact.avatar" alt="">
                                </div>
                                <div class="text-container">
                                    <h3>{{contact.name}} </h3>
                                    <p v-if='contact.messages.length > 0'><span v-if='contact.messages[contact.messages.length -1].status == "sent"'>Tu:</span> {{contact.messages[contact.messages.length - 1].text}}</p>
                                    <p v-else>Nessun messaggio</p>
                                </div>
                                <div class="time-container">
                                    {{contact.messages[contact.messages.length - 1].time}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="messages">
                <div class="date" v-if='selIndex != null'>{{today}}</div>

                <div v-if='selIndex != null' class="messages-container">
                    <div v-for='(message, messageIndex) in toDisplay' :class="message.status"  class="msg">
                        <div class="text">
                            {{message.msg}}
                        </div>
                        <div class="rest">
                            <i class="fas fa-chevron-down" @click='showDropdown(message)'>
                                <div id="dropdown" class="dropdown-container" :class=" clickedMsg.msg == message.msg && isDropped ? 'active' : ''">
                                    <div>Message Info</div>
                                    <div @click='deleteMsg(messageIndex)' class="delete-msg">Delete message</div>
                                </div>
                            </i>
                        </div>

                    </div>
                </div>

                <div v-if='selIndex != null' class="typing-container">
                    <textarea v-on:keyup.enter="sendMsg" name="message" cols="30" rows="3" placeholder="Invia un messaggio" v-model='newMsg'></textarea>
                    <i @click='sendMsg' class="fas fa-paper-plane"></i>
                </div>

                <div class='no-chat' v-else>
                    Seleziona una chat per iniziare a messaggiare
                </div>
            </section>
        </main>
    </div>

</body>

</html>