<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- VUE-JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- MY FILES -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>


    <title>BoolzApp</title>
</head>

<body>
    
    <div id="app" class="app-container">
        <section id="topbar">
        </section>

        <main>
            <section id="sidebar">
                <div id="sidebar-search">
                    <div class="search-container">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca">
                    </div>                    
                </div>

                <div id="sidebar-chats">
                    <div class="chats-container">
                        <ul>
                            <li @click='getMessages(contactIndex)' v-for='(contact,contactIndex) in contacts' :class="{focused: isFocused}">
                                <div class="img-container">
                                    <img :src="contact.avatar" alt="">
                                </div>
                                <div class="text-container">
                                    <h3>{{contact.name}} </h3>
                                    <p><span v-if='contact.messages[contact.messages.length - 1].status == "sent"'>Tu:</span> {{contact.messages[contact.messages.length - 1].text}}</p>
                                </div>
                                <div class="time-container">
                                    11.21
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section id="messages">
                <div class="date">
                    giorno mese anno
                </div>

                <div class="messages-container">
                    <div v-for='message in toDisplay' :class="(message.status == 'sent') ? 'sent' : 'received'"  class="msg">{{message.msg}}</div>
                </div>
            </section>
        </main>
    </div>

</body>

</html>